body {
  background-color: #FFF6EA;
  font-family: Arial;
  font-size: 15px;
  color: black;
}

.mainContainer {
  border-style: ridge;
  border-color: #EBD8C3;
}

#btnScrollToTop {
  position: fixed;
  right: 40px;
  bottom: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#btnScrollToTop:active {
  background-color: #BE8C63;
}

h3 {
  text-align: center;
  padding: 20px;
}

/* header */
#header {
  margin-top: 20px;
  height: 50px;
  padding-top: 8px;
  padding-bottom: 5px;
  /* background-color: #E9E5D6; */
  background: #E9E5D6;
  /* ACB992 CDB699*/
  background-image: -webkit-linear-gradient(top, #A97155, #E9E5D6);
  background-image: -moz-linear-gradient(top, #A97155, #E9E5D6);
  background-image: -ms-linear-gradient(top, #A97155, #E9E5D6);
  background-image: -o-linear-gradient(top, #A97155, #E9E5D6);
  background-image: linear-gradient(to bottom, #A97155, #E9E5D6);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0 5px 6px #666666;
  -moz-box-shadow: 0 5px 6px #666666;
  box-shadow: 0 5px 6px #666666;
  /* font-family: Georgia; */
  color: #000000;
  /* padding: 0 5px 0 30px; */
  text-decoration: none;
}

/* .headerContainer:hover {
  background: #ACB992;
  background-image: -webkit-linear-gradient(top, #ACB992, #757d5d);
  background-image: -moz-linear-gradient(top, #ACB992, #757d5d);
  background-image: -ms-linear-gradient(top, #ACB992, #757d5d);
  background-image: -o-linear-gradient(top, #ACB992, #757d5d);
  background-image: linear-gradient(to bottom, #ACB992, #757d5d);
  text-decoration: none;
} */

.media {
  padding-top: 8px;
  justify-content: center;
}

.envelope, .fb, .twit, .phone {
  color: #2B4F60;
  padding-right: 0;
  margin-right: 0;
}

.mediaImg{
  width: 40px;
  padding-right: 8px;
}
.phone{
  width: 30px;
}
.location {
  width: 40px;
}

.callPhone {
  font-size: 25px;
}

.hquoteButton {
  text-align: center;
  margin-right: 0;
  color: black;
  /* font-size: 1rem; */
  background-color: #ACB992;
}

.hquoteButton:hover {
  background-color: #666666;
}

.col-sm-4 {
  font-size: 1rem;
}

/* .headerContainer{
  font-style: italic;
  font-size: 0.75rem;
  padding-top: 50px;
} */
/* title */
#title {
  /* color: #E9E5D6; */

  background-color: #BE8C63;
}

/* Navigation bar */
.nav-item {
  padding: 0 12px;
  font-size: 1.2rem;
  text-align: center;
    color: black;
}


.navbar {
  padding: 20px 3rem 0 0;
  /* background-color: #ACB992; */
  color: black;
}

.navbar-brand {
  /* font-family: "Ubuntu"; */
  font-weight: bold;
  font-size: 2rem;


}

.titleContainer {
  /* padding: 0 10px 25px 25px; */
  /* width: 150%; */
  /* height:60%; */
}

.titleImg {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  /* margin: 20px auto 20px 20%;
  padding-right: 20px; */
  /* margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%; */
}

/* h1{
  padding-top: 30%;
  padding-bottom: 30%;
} */
.logo {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  cursor: pointer;
  float: left;
  margin:0 20px 20px 30px;
}

 /* .tquoteButton {
  margin-right: 20px;
  color: #E9E5D6;
  font-size: 12px;
  font-style: italic;
  background-color: #7F8B52;
  border: 0;
}  */

/* Service */
#services {
  background-color: #EBD8C3;
}
h5{
  font-weight: bold;
}
.servicesContainer {
  padding: 10% auto;
}
.servicesOfferedImg1 {
  width: 100%;
  height: 80%;
  float: left;
  margin: 10% 10%;
}

/* Gallery */
.galleryContainer {
  padding-bottom: 40px;
}

.galleryRow {
  padding-bottom: 30px;
}

.clickMore {
  float:right;
  text-decoration: underline;
  padding-right: 10px;
}

/* features */
#features {
  background-color: #EBD8C3;
  text-align: center;
}
.featureBox{
  text-align: center;
  padding: 5%;
}
.icon{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.icon:hover{
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  /* background-color: #E9E5D6; */
  text-align: center;
}

.carousel-item {
  padding: 3% 5%;
}

.custSays {
  padding-top: 3%;
  font-size: 1.2rem;
}

h2 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 1rem;
}

/* summarize */
#summarize {
  background-color: #BE8C63;
  /* color:black; */
  padding: 3% 10%;
  align-items: center;

}

td:last-child {

  padding-left: 10px;
}

/* Footer */
.bContainer {
  text-align: center;
  font-size: 0.75rem;
}

#footer {
  background: #BE8C63;
  background-image: -webkit-linear-gradient(top, #BE8C63, #E9E5D6);
  background-image: -moz-linear-gradient(top, #BE8C63, #E9E5D6);
  background-image: -ms-linear-gradient(top, #BE8C63, #E9E5D6);
  background-image: -o-linear-gradient(top, #BE8C63, #E9E5D6);
  background-image: linear-gradient(to bottom, #BE8C63, #E9E5D6);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 5px 6px #666666;
  -moz-box-shadow: 0 5px 6px #666666;
  box-shadow: 0 5px 6px #666666;
  font-family: Georgia;
  color: #000000;
  padding: 0 5px 0 30px;
  text-decoration: none;
}

.footer-link {
  margin-top: 0;
  padding: 0 20px 40px 0;
}

.copyright {
  text-align: center;
  /* background-color: #ACB992; */
  font-size: 0.5rem;
  padding-top: 15px;
}

.phone2, .locate2, .envelope2 {
  color: #F6E6E4;
  width: 40px;
  padding-right: 5px;
}
.locate,.PhoneContact, .email{

  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fb2, .tweet2 {
  width: 35px;

}
.contactContainer{
  /* top | right | bottom | left */
  padding: 30px 50px 30px 200px;
}
.card{
  background-color: #FFF6EA;

}
.contactInfo{
  padding-top: 50px;
}

/* unvisited link */
/* a:link {
  color: black;
} */
/* visited link */
/* a:visited {
  color: green;
} */
/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

/* Media Queries */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* body{
    text-align: center;
  } */
  .address {
    font-size: 10px;
  }

  .phone {
    width:30px;
    padding: 0;
  }
  .callPhone{
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 20px;
  }
  .navbar{
    padding-top: 0;
    padding-right: 40px;
  }
  #header {
    margin-top: 25px;
    height: 30px;
    padding-top: 2px;
    /* padding-bottom: 8px; */
  }
  .servicesOfferedImg1{
    width: 80%;
  }


  .navbar-brand {
    font-size: 20px;
    /* float:right; */
  }

  .col-sm-2 {
    width: 50%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    /* justify-content: center; */
    /* justify-content: space-around; */
    padding-top: 20px;
  }

  /* h1{
    font-size: 30px;
    margin-top: 40px;
  } */
  .envelope, .fb, .twit {
    padding-right: 8px;
    color: blue;
  }

  .phone {
    padding-right: 5px;
  }

  .logo {
    height: 150px;
    width: 150px;
    margin-top: 25px;
  }

  #btnScrollToTop {
    right: 10px;
    bottom: 40px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    z-index: 1;
  }
  h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 30px;
    padding-bottom: 20px;
  }
  .contactContainer{
    padding-left: 30px;
  }
  #features{
    text-align: center;
  }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #header {
    margin-top: 20px;
    height: 35px;
    padding-top: 2px;
    padding-bottom: 8px;
  }
}
