
.menu{
  text-align:center ;
}
.title{
  font-size: 45px;
  padding-top:0;
  text-align: center;

}
.hidden-ss{
  display: block !important;
}
#aboutSection{
    background-color: #E4E4E4;
}
.about{
  margin: 90px 0 30px 50px;
  padding-right: 0;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
}
.apptButton{
  margin-top: 0;
  height: 50px;
  margin-left: 50px;
  background: #444444;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 6px #666666;
  -moz-box-shadow: 0 5px 6px #666666;
  box-shadow: 0 5px 6px #666666;
  /* font-family: Georgia; */
  color: white;
  /* padding: 0 5px 0 30px; */
  text-decoration: none;
}

/* #services {
  background-color: #E4E4E4;
}
#gallery{
  background-color: #E4E4E4;
} */

#testimonials {
  background-color: #E4E4E4;
}
@media (max-width: 575.98px) {
  .title {

    font-size: 25px;
    padding-top: 45px;
    margin-left: 20px;
  }

  .hidden-ss{
    display: none !important;
  }
  .menu{
    text-align: center;
  }
  .about{
    /* margin: 10px auto 20px 50px; */
    margin: 3% auto;
    line-height: 2.5rem;
    text-align: center;
  }
  .apptButton{
    margin-left: 20%;

    margin-bottom: 30px;
  }

}
