
.menu{
  text-align: center;
}
.title{
  padding-top: 60px;

}
.hidden-ss{
  display: none !important;
}
#aboutSection{
  background-color: #EBD8C3;
}
.about{
  margin: 90px 0 30px 50px;
  padding-right: 0;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
}
.apptButton{
  margin-top: 0;
  height: 50px;
  margin-left: 50px;
  background: #A97155;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 6px #666666;
  -moz-box-shadow: 0 5px 6px #666666;
  box-shadow: 0 5px 6px #666666;
  /* font-family: Georgia; */
  color: #000000;
  /* padding: 0 5px 0 30px; */
  text-decoration: none;
}
#services {
  background-color: #FFF6EA;
}
#gallery{
  background-color: #EBD8C3;
}
#features {
  background-color: #FFF6EA;
}
#testimonials {
  background-color: #EBD8C3;
}
@media (max-width: 575.98px) {
  .title {
    text-align: center;
    font-size: 25px;
    padding-top: 45px;
    margin-left: 20px;
  }
  #title{
    
  }
  .hidden-ss{
    display: block !important;
  }
  .menu{
    text-align: center;
  }
  .about{
    /* margin: 10px auto 20px 50px; */
    margin: 3% auto;
    line-height: 2.5rem;
    text-align: center;
  }
  .apptButton{
    margin-left: 20%;

    margin-bottom: 30px;
  }

}
